.logo {
  width: 9vh;
}

.wrapper {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  row-gap: 15vh;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  row-gap: 4rem;
  width: 100%;
  justify-content: space-evenly;
}

.question {
  color: #4a4a4a;
  font-size: 4rem;
}

.input {
  font-size: 2.5rem;
  padding: 1rem 1rem 1rem 70px;
  border-radius: 10px;
  border: none;
}

.input:focus {
  box-shadow: inset 0px 0px 0px 2px #ffb258;
  border: none;
  outline: none;
}

.inputWrap {
  position: relative;
  display: flex;
  align-items: center;
}

.questionIcon {
  position: absolute;
  left: 15px;
  width: 2.5rem;
  color: #4a4a4a;
}

.nextButton {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  background-color: #ffb258;
  border: none;
  cursor: pointer;
  padding: 0.75rem 5rem;
}

.nextButton:hover {
  background-color: #fdbc71;
}
